.checkbox{
    appearance: none;
    position: absolute;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}
.checkbox:hover + .checkbox__icon,
.checkbox:focus + .checkbox__icon{
    border-color: var(--accent-color);
}

.checkbox__icon{
    display: block;
    width: 16px;
    height: 15px;
    margin: 0;
    margin-right: 9px;
    margin-left: 12px;
    border: 1px solid rgba(33, 33, 33, 1);
}
.checkbox:checked + .checkbox__icon{
    background-image:url(../icons/check.svg);
    background-size:contain;
    background-origin:content-box;
    background-color: var(--accent-color);
    border:var(--accent-color);
}
.checkbox__text{
    line-height: 1.71;
    letter-spacing: 0.03em;

    color: #757575;
}
.checkbox__link{
    display: block;
    color:var(--accent-color);
    margin-left: 2px;
}