.container{
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;

  @media screen and(max-width:767px) {
    width: 480px;
    
  }

  @media screen and (min-width:768px) and (max-width:1199px) {
    width: 768px;
  }

  @media screen and(min-width:1200px) {
    width:1200px;
  }
}

.container__header{
    @media screen and(max-width:767px:) {
      display: flex;
      justify-content: space-between;
    }

    display: flex;
    align-items: center;

     @media screen and (min-width:768px) and (max-width:1199px){
       justify-content: space-between;
     }
    }

  
.footer__container{
  display: flex;
  flex-direction: column;
  text-align: center;

  @media screen and(min-width:768px) and(max-width:1199px){
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: baseline;
  }
    
  

  @media screen and(min-width:1200px) {
    flex-direction: row;
    justify-content: space-around;}
    

   }
    
  