.footer-mobile{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 10px 15px;
    width:100vw;
    height: 100vw;

    background-color:var(--dark-background-color);

    @media screen and (min-width:480px){
        padding: 30px 15px;
    }


    @media screen and (min-width:768px){
        display: none;
    }
}
.footer-mobile__add{
    font-style: normal;
}
.footer-mobile__add__post{
    margin-bottom: 8px;
    font-size: 8px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color:var(--primary-white-color);
    @media screen and (min-width:480px) {
        font-size: 14px;
        }
}
.footer-mobile__add__contacts{
    font-size: 8px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;
    transition: text-decoration 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:not(:last-child){
        margin-bottom: 8px;
    }

    &:hover,&:focus{text-decoration: underline;}

    @media screen and (min-width:480px) {
        font-size: 14px;
        }
}
.footer-mobile__join{
    display: flex;
    flex-direction:column ;
    margin-top: 15px;
    margin-bottom: 15px;

    @media screen and (min-width:480px) {
    margin-top: 60px;
    margin-bottom: 60px;
    }
}

.footer-mobile__join__title{
    display: block;
    margin-bottom: 10px; 
    margin-top: 10px;
    font-weight: 700;
    font-size: 10px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color:var(--primary-white-color);

    @media screen and (min-width:480px) {
        margin-top: 60px;
        margin-bottom: 60px;
        font-size: 14px;
        }
}

.footer-mobile__join__item{
    display: block;
    width: 44px;
    height: 44px;
    background-color:rgba(255, 255, 255, 0.1);
    fill: var(--primary-white-color);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:not(:last-child){
        margin-right: 10px;}

    &:hover,&:focus{ background-color:var(--accent-color);}

}

.join__icon{
    fill:var(--primary-white-color);
}

