.header{
    padding-top: 25px;
    padding-bottom: 25px;
    border-bottom: 1px solid #ECECEC;;

    @media screen and (max-width:767px) {
    padding-top: 10px;
    padding-bottom: 10px;
        
    }
}