
.logo{
    display: block;
    font-family: var(--secondary-font-family);
    font-size: 24px;
    font-weight: 700;
    line-height: 1.19;
    letter-spacing: 0.03em;
    text-decoration: none;
    margin-right: auto;

    @media screen  and(min-width:768px){
        // margin-right: 35px;
        
    }

    // @media screen and (min-width:1200px) {
    //     margin-right: 93px;}
      
}

.logo__begin{
    color:var(--accent-color);
   
}
.logo__end {
    color:var(--title-text-color);
    &--reverse{color:var(--primary-white-color);}

}
.footer__logo{
    margin-bottom: 20px;

    @media screen and(min-width:768px) and(max-width:1199px) {
        margin-left: auto;
        margin-right: auto;
        
    }

    @media screen and(min-width:1200px) {
        margin-right: auto;;
        margin-left: 0;
    }
}