
.logo{
    font-family: var(--secondary-font-family);
    font-size: 26px;
    font-weight: 700;
    line-height: 1.19;
    letter-spacing: 0.03em;
    text-decoration: none;
}

.logo__begin{
    color:var(--accent-color);
   
}
.logo__end {
    color:var(--title-text-color);
    &--reverse{color:var(--primary-white-color);}

}
.footer__logo{
    margin-bottom: 20px;
    display: block;
}