.menu__btn{
    position: relative;
    display: inline-flex;
    margin: 0;
    margin-left: auto;
    padding: 0;
    border: none;
    background-color: transparent;
    z-index: 9;
    cursor: pointer;
    @media screen and(min-width:768px) {display: none;
        
    }
}
.menu__btn:hover,
.menu__btn:focus .menu__icon{
    fill: var(--accent-color);
}

.menu__icon--close{
    opacity: 0;
}
.menu__btn.is-active .menu__icon--close{
    opacity: 1;}

.menu__icon--menu{
    opacity: 1;
}
.menu__btn.is-active .menu__icon--menu{opacity: 0;}

.mobile{
    position: fixed;
    top:0;
    left: 0;
    padding:48px 40px;

    display: flex;
    flex-direction: column;

    width: 100vw;
    height: 100vw;
    background-color: var(--primary-background-color);

    opacity: 0;
    transform: translateX(100%);
    transition: transform 250 ms linear;
}
.mobile.is-open{
    opacity: 1;
    transform: translateX(0);
   
}

.mobile__link{
    font-weight: 500;
    font-size: 40px;
    line-height: 1.18;
    letter-spacing: 0.02em;

    color:var(--title-text-color);

    &--current{
        color: var(--accent-color);
    }
}

.mobile-link:not(:last-child){
    margin-bottom: 32px;
}

.mobile__group{
    margin-top: auto;
    
}

.mobile__contacts{
    margin-bottom: 64px;
}
.mobile__contacts__phone{
    font-weight: 500;
    font-size: 24px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    color: var(--accent-color);
   
}      

@media screen and (min-width: 480px) {
    .mobile__contacts__phone{
      font-size: 34px;}
    }

.mobile__contacts__mail{
    font-weight: 500;
    font-size: 24px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    color: var(--primary-text-color);
}  

.socials{
    display: flex;
    flex-wrap: wrap;
    margin-top: -10px;
    margin-right: -10px;
}
.social-item{
    display: block;
    margin-top: 10px;
    margin-right: 10px;

}
.socials__link{
    padding-right: 10px;

    font-weight: 500;
    font-size: 18px;
    line-height: 1.22;
    letter-spacing: 0.02em;

    color: var(--accent-color);

    border-right: 1px solid rgba(33, 33, 33, 0.2);
}
.socials__item:last-child .socials__link
{
    padding: 0;
    border:none;
}
